@import "compass/css3";
@keyframes pulse {
    0% {
        opacity: 1;
        transform: scale(0.8, 0.8);
    }
    50% {
        opacity: 1;
        transform: scale(1, 1);
    }
    100% {
        opacity: 1;
        transform: scale(0.8, 0.8);
    }
}

html {
  height: 100%;
}

.spinner {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%)
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: teal;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%) translateY(-50%);
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
  background: aqua;
  opacity: 0.8;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


.animateLeft {
  -webkit-animation: animateLeft 0.5s forwards ease-in-out;
  animation: animateLeft 0.5s forwards ease-in-out;
}

@keyframes animateLeft {
  0% {
    left: 700px;
    visibility: hidden;
  }

  100% {
    left: 248px;
    visibility: visible;
  }
}

.animateRight {
  -webkit-animation: animateRight 0.5s forwards ease-in-out;
  animation: animateRight 0.5s forwards ease-in-out;
}

@keyframes animateRight {
  0% {
    left: 248px;
    visibility: visible;
  }

  100% {
    left: 700px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
  }
}