
#menu {
  width: 4em;
  height: 7em;
  float: right;
  padding: 0;
  overflow: hidden; 
  pointer-events: auto;
  opacity: 0.85;
}

#menu:hover {
  background-color: #ebebeb;
  width: 16.5em;
  height: 17.5em;
  border-radius: 0 0 0 15em; }

#menu h1 {
  position: relative;
  top: -.75em;
  right: -.5em;
  margin: 0;
  background-color: #C3B1AB;
  color: #C3B1AB;
  z-index: 1;
  font-size: 2em;
  line-height: 100%;
  width: 1em;
  padding: 1em .5em 1.25em 1em;
  border-radius: 3.0em 0 0 3.0em;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  overflow: hidden; 
}

#menu h1::before {
  content: "\21D0"; 
  color: black;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); 
}

#menu:hover h1 {
  display: none; 
}

#menu ol {
  margin: 0;
  padding: 0;
  list-style-type: none; 
}

.menuBtns {
  cursor: pointer;
  display: block;
  position: absolute;
  top: -10em;
  right: 0em;
  background-color: #A2B59C;
  border-radius: 4em;
  border: .15em solid #fff;
  padding: 1.5em 0;
  width: 4.5em;
  text-align: center;
  box-shadow: .45em 0 1.5em rgba(50, 50, 50, 0.75);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; 
}

#menu:hover .menuBtns {
  display: block;
}

.menuBtns:link, .menuBtns:hover, .menuBtns:focus, .menuBtns:active, .menuBtns:visited {
  text-decoration: none;
  color: #ddd;
  background-color: rgb(117, 163, 140); 
}

.menuBtns:hover, .menuBtns:focus, .menuBtns:active {
  background-color: #5E8792;
  color: #fff;
  text-shadow: 0em 0em 0.2em rgba(255, 255, 255, 0.8);
}

#menu:hover li:nth-child(1) .menuBtns {
  right: 13.5em;
  top: .2em; 
}

#menu:hover li:nth-child(2) .menuBtns {
  right: 12em;
  top: 4.75em; 
}

#menu:hover li:nth-child(3) .menuBtns {
  right: 9.0em;
  top: 8.5em; 
}

#menu:hover li:nth-child(4) .menuBtns {
  right: 4.75em;
  top: 11em; 
}

#menu:hover li:nth-child(5) .menuBtns {
  right: 0;
  top: 12em; 
}