.card{
  width: 350px;
  border: 1px solid #CBA89B;
  box-shadow: 1px 1px 3px #888;
  min-height: 250px;
  padding-: 10px;
  margin: 10px;
  text-align: center;
  background: whitesmoke;
}

.cardimg {
  border-radius: 50%;
  width: 70px;
  margin: 10px;
}

.cardp {
  margin: 10px;
  font-family: segoe ui;
  line-height: 1.4em;
  font-size: 1.2em;
}

.cardTitle {
  text-align: center;
}

#mainbox{
  height: auto;
  font-family: calibri;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  vertical-align: middle;
  background-color: white;
}
#myBonfires{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: auto;
  border: 13px solid #bed5cd;
  overflow-x: hidden;
  overflow-y: scroll;
}

#drawerParent {
  height: 100%;
}