.ChatPage {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: #E9EBEE;
	position: absolute;
}

.MessageField {
	height: 100%;
	overflow: scroll;
}

.ChatProfileImage {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	padding: 5px;
}

.TextHolder {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 5px;
}

.MessageAuthor {
	height: 30px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: gray;
	font-size: 15px;
	margin: 0px;
}

.MessageText {
	width: 100%;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	height: 30px;
	color: gray;
	font-size: 15px;
	text-align: left;
	margin: 0px;
}

.YourMessage {
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;

}

.YourMessage img {
	margin-right: 20px;
}

.YourMessage p {
	text-align: right;
}

.OtherMessage {
	display: flex;
	flex-direction: row;
}

.OtherMessage p {
	text-align: left;
}

.OtherMessages img {
	margin-left: 10px;
}

.CancelButton {
	width: 60px;
	height: 100%;
	border:none;
	background: transparent;
	margin-top: 8px;
	cursor: pointer;
}

.CancelButton:focus{
	outline:0;
}

.CancelButtonImage {
	width: 25px;
	height: 25px;
	background-size: contain;
}

.MessageCreator {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.FormBox {
	height:70px;
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 0px 10px 20px 10px;
	box-sizing: border-box;
}

.InputBox {
	width: 100%;
	border-radius: 30px;
	border:none;
	padding: 2px;
	padding-right: 20px;
	padding-left: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: gray;
	font-size: 20px;
}

.SendButton {
	width: 60px;
	height: 100%;
	border-radius: 100%;
	background-color: transparent;
	border-color: transparent;
	margin-right: 20px;
	cursor: pointer;
}

.SendButton:focus {
	outline:0;
}

.SendButtonImage {
	width: 100%;
	height: 100%;
	background-size: contain;
}

.TimePosted {
	font-size: 11px;
	color: gray;
}


