

#Home {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	min-width: 950px;
}

.Map {
	height: 100%;
	position: absolute;
	width: 100%;
}

#GoogleMap {
	width: 100%;
	height: 100%;
}

.gm-style-mtc {
  display: flex;
  justify-content: flex-end;
  min-height: 93vh;
  flex-direction: column;
}

h1 {
	font-family: 'Raleway', sans-serif !important;
}

p {
	font-family: 'Raleway', sans-serif !important;
}

h2 {
	font-family: 'Raleway', sans-serif !important;
}

button {
	font-family: 'Raleway', sans-serif !important;
}

div {
	font-family: 'Raleway', sans-serif !important;
}

b {
	font-family: 'Raleway', sans-serif !important;
}

.Top {
  z-index: 100;
}

.Bottom {
  z-index: -100;
}


.ProfileButtonSmall {
	width: 80px;
	height: 80px;
	position: absolute;
	border-radius: 100%;
	background-color: transparent;
	bottom: 20px;
	left:50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
  z-index: 2300;
}

.ProfileImageSmall {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.ProfileImageSmallAnimation {
  animation: 3500ms pulse 1500ms ease-in-out infinite;
  -webkit-animation: 3500ms pulse 1500ms ease-in-out infinite;
}

.ProfileButtonSmall:hover {
	opacity:0.7;
}

.removeHover:hover {
  opacity:1.0;
}

.ProfileButtonExpand {
  opacity: 1.0;
	animation: 1000ms expandProfileButton ease-in-out forwards;
  -webkit-animation: 1000ms expandProfileButton ease-in-out forwards;
}

.ProfileImageExpandAnimation {
	animation: 250ms expandProfileImage ease-in-out forwards;
  -webkit-animation: 250ms expandProfileImage ease-in-out forwards;
}

.FadeInProfilePage {
  z-index: 100;
}

.FadeIn {
  animation: 1000ms fadeIn ease-in-out forwards;
  -webkit-animation: 1000ms fadeIn ease-in-out forwards;
}


.FadeOutMap {
	animation: 1000ms fadeOut ease-in-out forwards;
  -webkit-animation: 1000ms fadeOut ease-in-out forwards;
}
