#Home {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

#GoogleMap {
	width: 100%;
	height: 100%;
}

.gm-style-mtc {
  display: flex;
  justify-content: flex-end;
  min-height: 93vh;
  flex-direction: column;
}

#modelTextBox {
	border: solid #FEFEFA 10px;
	border-radius: 25px;
	background: #FEFEFA;
	width: 350px;
}

#hide {
	visibility: hidden;
}

#bonfireModal {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 10000;
}

