#Home {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.Map {
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 100;
}

#GoogleMap {
	width: 100%;
	height: 100%;
}

.gm-style-mtc {
  display: flex;
  justify-content: flex-end;
  min-height: 93vh;
  flex-direction: column;
}




.ProfileButtonSmall {
	width: 80px;
	height: 80px;
	position: absolute;
	border-radius: 100%;
	background-color: transparent;
	bottom: 20px;
	left:50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.ProfileButtonSmall:hover {
	opacity:0.7;
}

.ProfileButtonExpand {
	animation: 1000ms expandProfileButton ease-in-out forwards;
  -webkit-animation: 1000ms expandProfileButton ease-in-out forwards;
}

.ProfileImageSmall {
	width: 100%;
	height: 100%;
	border-radius: 100%;
}


.ProfileImageSmallAnimation {
	animation: 3500ms pulse 1500ms ease-in-out infinite;
    -webkit-animation: 3500ms pulse 1500ms ease-in-out infinite;
}

.ProfileImageExpandAnimation {
	animation: 250ms expandProfileImage ease-in-out forwards;
    -webkit-animation: 250ms expandProfileImage ease-in-out forwards;
}


.FadeOutMap {
	animation: 1000ms fadeOut ease-in-out forwards;
  -webkit-animation: 1000ms fadeOut ease-in-out forwards;
}

/**********************************
Profile Page
***********************************/

.ProfilePage {
	background-color: #DF584C;
	width:100%;
	height:100%;
	z-index: -100;
}

.FadeInProfilePage {
	z-index: 100;
}

.MapButtonSmall {
	width: 80px;
	height: 80px;
	position: absolute;
	border-radius: 100%;
	background-color: transparent;
	bottom: 20px;
	left:50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-items: center;

}

.MapButtonSmall:hover {
	opacity:0.7;
}

.MapImageSmall {
	width: 100%;
	height: 100%;
	border-radius: 100%;
	box-shadow:rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}

.MapImageSmallAnimation {
	animation: 3500ms pulse 1500ms ease-in-out infinite;
    -webkit-animation: 3500ms pulse 1500ms ease-in-out infinite;
}

