#Home {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

#GoogleMap {
	width: 100%;
	height: 100%;
}

.gm-style-mtc {
  display: flex;
  justify-content: flex-end;
  min-height: 93vh;
  flex-direction: column;
}

#bonfireModel {
	background-color: white;
	position: relative;
	z-index: 100;
}

