#Navigation{
	background-color: transparent;
	width:100%;
	height:65px;
	position:absolute;
	z-index: 4;
	pointer-events: none;
}

#NavLogo {
	position: absolute;
	width:150px;
	height:150px;
	top:-37px;
	left:20px;
}

#NavLogo img {
	max-width: 100%;
	max-height: 100%;
}

#DropDown {
	width: 50px;
	height: 50px;
	position: absolute;
	right: 0;
	top:10px;
}

/*********************
Profile
*********************/
#ProfileAvatar{
	padding-top:10px;
	padding-left:15px;
	width:50px;
	height:50px;
}


#ProfileAvatar > img{
	border: 2px solid white;
}



