/**********************************
Profile Page
***********************************/

.ProfilePage {
  background-color: #B2A5A1;
  width:100%;
  height:100%;
    position: absolute;
}

.myBonfiresBox {
  text-align: center;
  font-weight: 300;
}

.ProfilePageMiddle {
  display: flex;
  flex-direction: row;
  height: 620px;
  justify-content: center;
  background: #5E8792;
}

.ProfilePageMiddleMiddle {
  display: flex;
  flex-direction: column;
  background-color: #E0DDDC;
  border-radius: 5%;
  padding: 20px;
  margin-top: 40px;
  width: 500px;
  height: 500px;
  box-shadow:rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}

.ProfilePageTop {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100px;
}


.ProfilePageTopLeft {
  height:100%;
  background-color: transparent;
  width:300px;
  display: inline-block;
}

.ProfilePageTopName {
  background-color: transparent;
  width: 100%;
  height:80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 30px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #E0DDDC;
}

.ProfilePageTopUserInfo {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: black;
  font-size: 20px;
  text-align: center;
  padding-top: 40px;
  box-sizing: border-box;
  word-break:break-all;
  flex-direction: column;
}

.ProfileInfoPlainText {
  background: transparent;
  width:100%;
  height: 100%;
  text-align: center;
  overflow-wrap: break-word;
}

.ProfileInfoTextArea {
  resize: none;
  border-style: dashed;
  border-width: 1px;
  border-color: white;
  width: 100%;
  height: 100%;
  color:white;
  background: transparent;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 20px;
  overflow: hidden;
}

.ProfileInfoTextArea:focus {
  outline: 0;
}


.ProfilePageTopMiddle {
  height:100%;
  width:300px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.ProfilePageTopMiddle img {
  /*border-radius: 100%;*/
  /*width:50px;*/
  height: 100%;
}

.ProfilePageTopMiddle img:hover {
  /*-webkit-filter: blur(5px);*/
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  /*cursor: pointer;*/
}

.EditProfileHeader {
  position: absolute;
  top:22.5%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 24px;
  pointer-events: none;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.ProfilePageTopRight {
  height:100%;
  background-color: transparent;
  width:300px;
  display: inline-block;
}

.ProfilePageTopStats {
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.MapButtonSmall {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 100%;
  background-color: transparent;
  bottom: 20px;
  left:50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.MapButtonSmall:hover {
  opacity:0.7;
}

.MapImageSmall {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow:rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}

.MapImageSmallAnimation {
  animation: 3500ms pulse 1500ms ease-in-out infinite;
    -webkit-animation: 3500ms pulse 1500ms ease-in-out infinite;
}

.LogoutButton {
  width:50px;
  height: 50px;
  position: absolute;
  right: 30px;
  bottom: 30px;
  background: transparent;
  cursor:pointer;
}

.LogoutImage {
  width:100%;
  height: 100%;
}

.BonfireHolder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  /*width: 100%;*/
  /*height: 175px;*/
  /*bottom: 130px;*/
  flex-wrap: wrap;
  padding: 5px;
  /*position: absolute;*/
  background-color: transparent;
  /*top: 100px;*/
}

.BonfireEntry {
  /*width: 150px;*/
  /*height: 150px;*/
  background-color: transparent;
  cursor: pointer;
  padding: 8px;
}

.BonfireEntryImage {
  width: 50px;
}

.ProfilePageTopPicture {
  border-radius: 100%;
}



/**************************
Profile Page Bonfire Pop Up
***************************/

.ProfilePageBonfirePopup {
  width: 400px;
  height: 400px;
  left:50%;
  top: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  background-color: #E0DDDC;
  align-items: center;
  visibility: hidden;
}

.ProfilePageBonfirePopupTop {
  display: flex;
  height: 190px;
  widows: 100%;
  flex-direction: row;
}

.ProfilePageBonfirePopupTopLeft {
  width:30%;
}

.ProfilePageBonfirePopupTopRight {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.BonfirePopupCreatedAt{
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: black;
  font-size: 25px;
}

.BonfirePopupCreatedBy, .BonfirePopupLocation {
  margin: 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: black;
  font-size: 18px;
}

.ProfilePageBonfirePopupImage {
  width:50%;
  height: 50%;
  padding-top: 20px;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.ProfilePageBonfirePopupMembers {
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top:10px;
}

.ProfilePagePopupCancelButton {
  width: 40px;
  height: 40px;
  position: absolute;
  left:50%;
  transform: translateX(-250%);
  bottom: 15px;
  cursor: pointer;
}

.ProfilePagePopupCancelButtonImage {
	width: 40px;
	height: 40px;
}

.ProfilePagePopupJoinButton {
	width: 40px;
	height: 40px;
	position: absolute;
	left:50%;
	transform: translateX(140%);
	bottom: 15px;
	cursor: pointer;
}

.ProfilePagePopupJoinButtonImage {
	width: 40px;
	height: 40px;
}

